<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>OddLot</title>
    <link href="../../vendor/kendo/styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../vendor/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../vendor/kendo/styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../vendor/kendo/styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="../../vendor/kendo/styles/kendo.black.min.css" rel="stylesheet">
    <link href="../../vendor/kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <link href="../../css/app.css" rel="stylesheet">
</head>
<body id="main">
    <div class="k-loading-mask" style="width: 100%; height: 100%; top: 0px; left: 0px;">
        <span class="k-loading-text">loading...</span>
        <div class="k-loading-image"></div>
        <div class="k-loading-color"></div>
    </div>
    <div id="main_wrapper" style="display: none">
        <header>
            <div id="main_toolbar"></div>
        </header>
        <div id="main_splitter">
            <div id="page_nav"></div>
            <div id="main_view"></div>
        </div>
    </div>
    <script data-main="../Scripts/app" src="../vendor/require.js"></script>

</body>
</html>